<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Electron</title>
</head>
<body>
    <div class="buttonContainer">
        <button>
            <strong id="products">Click me!</strong>
        </button>
    </div>

    <script>
        const {ipcRenderer} = require('electron');

        const products = document.querySelector('#products');

        ipcRenderer.on('product:new', (e, newProduct) => {
            // console.log(newProduct);
            const newProductTemplate = `
                <div>
                    <h5>${newProduct.name}</h5>
                    <span>${newProduct.price}</span>
                    <span>${newProduct.description}</span>
                </div>
            `;
            products.innerHTML += newProductTemplate;
        })
    </script>
</body>
</html>

<style>
    .buttonContainer button{
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all .4s;
    }

    .buttonContainer button:hover{
        background-color: blue;
        color: #fff;
    }
</style>